

.circleB
{
   color: #2330ec
}

.Redd
{
   color: red;
}

.circleGrid
{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 10px;
   width: 500px;
   padding: 20;
   position: absolute;
   left: 20%;
  top: 20%;
   
 
}

